# 忽略下载到本地的完整模型文件夹
opt-1.3b/
# ==========================================
# 1. Python 编译缓存 (绝对不能提交)
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# 2. Jupyter Notebook 缓存
# ==========================================
.ipynb_checkpoints/

# ==========================================
# 3. 大模型权重与检查点 (体积太大，Git 不适合管理)
# ==========================================
model/
opt-350m/
